// color variables
$primary1: hsl(300, 43%, 22%); //Very Dark Magenta
$primary2: hsl(333, 80%, 67%); //Soft Pink

$neutral1: hsl(303, 10%, 53%); //Dark Grayish Magenta
$neutral2: hsl(300, 24%, 96%); //Light Grayish Magenta
$white: hsl(0, 0%, 100%); //white
