.review {
    background-color: $primary1;
    padding: 5vw;
    padding-bottom: 5vh;
    border-radius: 5px;
    margin-bottom: 15px;
    &__text {
        color: white;
        font-weight: 400;
        line-height: 1.5rem;
    }
}
.profile {
    @include flexCenter(row);
    justify-content: flex-start;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    &__img {
        border-radius: 50%;
        width: 3rem;
        margin-right: 1.5rem;
    }
    &__name {
        color: white;
        font-weight: 700;
    }
    &__buyer {
        color: $primary2;
        font-weight: 400;
    }
}
@media (min-width: 1024px) {
    #section-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3rem;
        padding-bottom: 3rem;
        height: 370px;
    }
    .review {
        padding: 2rem;
        margin: 0;
        width: 32%;
    }
    #review1 {
        align-self: flex-start;
    }
    #review2 {
        align-self: center;
    }
    #review3 {
        align-self: flex-end;
    }
}
