.hero {
    @include flexCenter(column);
}

.main {
    padding-top: 10vh;
    @include flexCenter(column);
    text-align: center;

    &__title {
        padding: 0 3rem 1rem 3rem;
        color: $primary1;
        font-size: 1.5rem;
    }
    &__text {
        color: $neutral1;
        font-weight: 500;
        line-height: 1.5rem;
        letter-spacing: 1px;
    }
}
.rate {
    padding-top: 5vh;
    width: 100%;
    // text-align: center;
    &__box {
        @include flexCenter(column);
        background-color: $neutral2;
        padding: 10px 0;
        margin-bottom: 15px;
    }
    &__starline {
        list-style: none;
        display: flex;
        padding-bottom: 5px;
    }
    &__text {
        font-weight: 700;
        color: $primary1;
    }
}
